

:root {
    --clr-primary: hsl(25, 97%, 53%);
    --clr-secondary400: hsl(213, 19%, 18%);
    --clr-secondary500: hsl(216, 12%, 8%);


    --clr-neutral400: hsl(217, 12%, 63%);
    --clr-neutral500: hsl(216, 12%, 54%);
    
    --clr-white: hsl(0, 0%, 100%);

    --ff-primary: 'Overpass', sans-serif;
    --ff-body: var(--ff-primary);

    --fw-Regular: 400;
    --fw-bold: 700;

}


*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

html, body {
     min-height: 100vh;
 }

body {
    font-size: 1.5rem;
    font-family: var(--ff-body);
    line-height: 1.5;
    background-color: var(--clr-secondary500);
    padding: 2rem;
}

.container {
    max-width: 40rem;
    background-color: var(--clr-secondary400);
    color: var(--clr-neutral400);
    border-radius: 1.5rem;
    padding: 2.5rem;
}

.card__flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

.ratingState {
    overflow: hidden;
    opacity: 1;
    transform: translateY(0%);
    transition: 1s;
}

.staricon__container{
    animation: rotate 4s alternate 2;
    width: clamp(3rem, 3vw, 5rem);
    height: clamp(3rem, 3vw, 5rem);
    border-radius: 50%;
    background-color: hsl(212, 17%, 26%);
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
}

.headings {
    color: var(--clr-white);
    font-size: 3.2rem;
}

.form {
    width: 100%;
}

.form .ratings__container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

input[type="radio"] {
   appearance: none; 
   position: fixed;
}

.form .label {
    width: clamp(3rem, 3vw, 5rem);
    height: clamp(3rem, 3vw, 5rem);
    background-color: hsl(212, 17%, 26%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.form .label:hover {
    background-color: var(--clr-neutral400);
    color: var(--clr-white);
}

.form .ratingSelected {
    background-color: var(--clr-primary);
    color: var(--clr-white);
}

.submitBtn {
    width: 100%;
    border: 0;
    background-color: var(--clr-primary);
    padding: 1rem;
    border-radius: 10rem;
    color: var(--clr-white);
    font-family: var(--ff-primary);
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-top: 3rem;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.submitBtn:disabled {
    opacity: .5;
}
.submitBtn:hover:disabled {
    background-color: var(--clr-primary);
    color: var(--clr-white);
    cursor: default;
    
}
.submitBtn:hover {
    background-color: var(--clr-white);
    color: var(--clr-primary);
}

.thankyouState {
    text-align: center;
    opacity: 1;
    transition: 1s;
}

.thankyouState .rated {
    color: var(--clr-primary);
    background-color: hsl(212, 17%, 26%);
    padding: 0.5rem 2rem;
    border-radius: 10rem;
}


.footer { 
    font-size: 1.2rem;
    text-align: center; 
    color: var(--clr-white);
}

.footer a { 
    color: var(--clr-primary); 
}


.none {
    opacity: 0;
    visibility: hidden;
    height: 0;
    transform: translateY(-50%);
}


@keyframes rotate{
    0% {
        transform: rotate(0) scale(1);
    }
    100% {
        transform: rotate(360deg) scale(1.02);
    }
}




